body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main {
  height: 100vh;
  width: 100%;
}

video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(0.6);
}

#main-view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}
